body{
    text-align: center;

}

#two
{
    font-size: 150px;
    font-weight: bolder;
}


#spelltwo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 70px;

}



#speaking{
 
    height:100px;
    width:300px;
 
 
}

#one{
 
    height:100px;
    width:300px;
    font-size: 50px;
 
}

#three{
 
    height:100px;
    width:300px;
    font-size: 50px;
 
}